{% extends "libros.html" %}
    {% block contenido %}
    <div class="container">
        <div class="row"> 
          <div class="col l12 m8 s12">
            <ul class="collection with-header">
              <li class="collection-header indigo-text text-darken-4"><h4>¿Cómo agregar libros?</h4></li>
              <li class="collection-item indigo-text text-darken-4">Clickea sobre el boton con el signo + y agregá el libro que más te guste!</li>
            </ul>  
          </div> 
          <div class="col l12 m8 s12">
            <ul class="collection with-header">
              <li class="collection-header indigo-text text-darken-4"><h4>¿Se pueden modificar los libros cargados?</h4></li>
              <li class="collection-item indigo-text text-darken-4">No te preocupes! Podes modificar los libros agregados haciendo click en el boton editar!</li>
            </ul>  
          </div> 
          <div class="col l12 m8 s12">
            <ul class="collection with-header">
              <li class="collection-header indigo-text text-darken-4"><h4>¿Se pueden eliminar los libros?</h4></li>
              <li class="collection-item indigo-text text-darken-4">Por supuesto! hacé click en el boton eliminar y deshacete de los libros que ya no queres! </li>
            </ul>  
          </div> 
          <div class="col l12 m8 s12">
            <ul class="collection with-header">
              <li class="collection-header indigo-text text-darken-4"><h4>¿Te queda otra consulta?</h4></li>
              <li class="collection-item indigo-text text-darken-4">Escribinos a nuestro email: gestion@libros.com.ar o llamanos al 03584621789 y te responderemos a la brevedad!</li>
            </ul>  
          </div> 
        </div>
      </div>
    

    {% endblock %}