{% extends "libros.html" %}
    {% block contenido %}
    <div class="center">
      <br>
    <div class="row">
      <div class="col l6 s12 m6">
        <div class="card indigo darken-4">
          <div class="card-content white-text">
            <span class="card-title">PRIMER LIBRERIA DE MENDOZA</span>
            <p>Somos la primer librería fundada en Mendoza en el año 1923</p>
          </div>
          <div class="card-action white-text">
            <a href="#"><h5>Descubrinos</h5></a>
          </div>
        </div>
      </div>
      <div class="col l6 s12 m6">
        <div class="card indigo darken-4">
          <div class="card-content white-text">
            <span class="card-title">LIBRERIA FAMILIAR</span>
            <p>Fundada por nuestro Abuelo, continuada por nuestro Padre y atentida por Nosotros, la 4 generación.</p>
          </div>
          <div class="card-action white-text">
            <a href="#"><h5>La Familia</h5></a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col l6 s12 m6">
        <div class="card indigo darken-4">
          <div class="card-content white-text">
            <span class="card-title">PARA NUESTROS CLIENTES</span>
            <p>Nuestro sistema de gestión de libros permite que nuestros clientes tengan registrados todos sus libros</p>
          </div>
          <div class="card-action white-text">
            <a href="#"><h5>Descargalo</h5></a>
          </div>
        </div>
      </div>
      <div class="col l6 s12 m6">
        <div class="card indigo darken-4">
          <div class="card-content white-text">
            <span class="card-title">COMPARTILO</span>
            <p>Si te gusta lo que hacemos y queres darnos una mano, compartí nuestro servicios con tus conocidos</p>
          </div>
          <div class="card-action white-text">
            <a href="#"><h5>Compartir</h5></a>
          </div>
        </div>
    </div>
  </div>
    

    {% endblock %}